* {
	box-sizing: border-box;
}

body {
    .retina(@body-bg, 512px);
}

header {
    margin-bottom: 1em;
}

.container {
    display: block;

    &.main {
        .dimensions(45em, 11/8.5); // the ratio of a US Letter sheet of paper :)
        margin: 2em auto;
    }
}

.content {
    p {
        line-height: 1.3;
        margin-bottom: 1em;
        text-align: justify;
    }
}

.timestamp {
    display: block;
    margin-bottom: 1em;
}